<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Killer App >> User Profile</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div id=header> 
    <h1>Killer App >> Edit User Profile</h1>
    </div>
    <div id="container">
        <div class="row001"> 
            <div class="vertForm">
                <a href="/" >Home</a> <!-- gotta remember here that the /... is NOT a reg'ole url; it's a route from the PY server-->
                <form class="vertForm" action="/userProfile/{{display_userProfile.id}}/update" method="POST">
                    <label for="frm_firstName">First Name:</label>
                    <input type="text" name="frm_firstName" value="{{display_userProfile.firstName}}">

                    <label for="frm_lastName">Last Name:</label>
                    <input type="text" name="frm_lastName" value="{{display_userProfile.lastName}}">

                    <label for="frm_email">email:</label>
                    <input type="text" name="frm_email" value="{{display_userProfile.email}}">

                    <input type="submit" value="Update Friend">
                </form> 
            </div>
        </div>     
    </div>
</body>
</html>

